{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %} Sign In {% endblock %}

{% block content %}

<div class="container">
  <form method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header text-center bg-primary text-white">
                        <h4>{% trans "Sign In" %}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                               
                                {{ form.as_table }}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button class="btn-block btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </form>
</div>

{% endblock %}
