{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <form method="post" action="{% url 'account_signup' %}">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-header text-center bg-primary text-white">
            <h4>{% trans "Sign Up" %}</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  {% csrf_token %}
                  {{ form.as_table }}
                  {% if redirect_field_value %}
                  <tr>
                    <td colspan="2">
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    </td>
                  </tr>
                  {% endif %}
                  <tr>
                    <td colspan="2" class="text-center">
                      <button class="btn btn-primary w-100" type="submit">{% trans "Sign Up" %} &raquo;</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}