
{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="container">
        <!-- About us -->
        <section id="about" class="mt-10 bg-white text-dark">
            <h2 class="section-title">About us</h2>
            <p>HCCPortfolio is a platform that allows users to register and create personalized portfolios. Customize
                your portfolio to suit your needs, including sections for About Me, Employment History, Education
                History, and Projects. This website is open to professionals from all fields, allowing you to showcase
                your skills and experiences effectively.</p>
        </section>
    </div>
{% endblock %}
